{% set locale = app.request.locale|split('_')[0] %}

<!DOCTYPE html>
<html class="no-js" lang="{{ locale }}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{{ block('page_title') is defined  ? block('page_title') : (block('title') is defined ? block('title')) }}</title>

    <meta name="msapplication-TileColor" content="#0054a6"/>
    <meta name="theme-color" content="#0054a6"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    {#<link rel="icon" type="image/x-icon" href="{{ asset('/favicon.ico') }}" />
    <link rel="shortcut icon" type="x-icon" href="{{ asset('/favicon.ico') }}"/>#}

    {%- block stylesheets -%}
        {{ encore_entry_link_tags('app') }}
    {%- endblock -%}
</head>
<body>
<div class="page">
    {% include 'layouts/_partial/left_menu.html.twig' %}

    {% include 'layouts/_partial/top_nav.html.twig' %}

    <div class="page-wrapper">

        {# show flash messages #}
        {% for label, messages in app.flashes %}
            <div class="container-xl mt-4">
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible">
                        {{ message|trans }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        {% block page_header %}{% endblock page_header %}
        <div class="page-body">
            <div class="container-xl d-flex flex-column justify-content-center">
                {% block body %}{% endblock body %}
            </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
            <div class="container-xl">
                <div class="row text-center align-items-center flex-row-reverse">
                    <div class="col-lg-auto ms-lg-auto">
                        <ul class="list-inline list-inline-dots mb-0">
                            {#<li class="list-inline-item"><a href="https://tabler.io/docs" target="_blank" class="link-secondary" rel="noopener">Documentation</a></li>#}
                            {#<li class="list-inline-item"><a href="./license.html" class="link-secondary">License</a></li>#}
                            <li class="list-inline-item">

                                <a href="https://github.com/SolidWorx/SoldTrack" target="_blank" class="link-secondary" rel="noopener">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                                    </svg>
                                    Source code
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/sponsors/solidinvoice" target="_blank" class="link-secondary" rel="noopener">
                                    {{ ux_icon('tabler:heart') }}
                                    Sponsor
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item">
                                Copyright &copy; {{ 'now'|date('Y') }}
                                <a href="https://solidworx.co" class="link-secondary">SolidWorx</a>.
                                All rights reserved.
                            </li>
                            <li class="list-inline-item">
                                <a href="./changelog.html" class="link-secondary" rel="noopener">
                                    v{{ constant('App\\Kernel::APP_VERSION') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

{% block page_end %}{% endblock page_end %}

{%- block scripts -%}
    {{ encore_entry_script_tags('app') }}
{%- endblock scripts -%}
</body>
